$primary: #3B7080;
$secondary: #214E34;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: #ADE25D,
  info: #EDF2F3,
  warning: #FCEC52,
  danger: #6B0504,
  dark: #333,
  light: #f2f2f2
) !default;

$font-family-sans-serif: Roboto, sans-serif;

.card.no-border {
  border: none;
}

.navbar-brand img {
  height: 2rem;
}

.btn-file {
  cursor: pointer;
}

.img-small {
  width: 35px;
  height: 35px;
}

#remove-img {
  cursor: pointer;
}

#createTweet textarea.form-control {
  resize: none;
  height: 8rem;
  transition: 1s height ease;
}

#createTweet.compress textarea.form-control {
  height: 2.5rem;
}

#createTweet.compress #actions {
  display: none !important;
}

.avatar-thumbnail {
  width: 32px;
  height: 32px;
}
